* {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(238, 174, 202);
    background: linear-gradient(135deg, #aeeedb 0%, #94bbe9 100%);
}

.input-cont input {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    width: 200px;
    border-radius: 15px;
    border-width: 1px;
    height: 20px;
    border-color: transparent;
    background-color: #ffffff;
    text-align: center;
}

.input-cont input:focus {
    outline: none;
}

.input-cont button {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    height: 24px;
    text-align: center;
    border-radius: 20px;
    border-width: 1px;
    border-color: transparent;
    background-color: #6fdd90;
    transition: ease 0.2s;
}

.input-cont button:hover {
    background-color: #67cf86;
}

.input-cont button:active {
    position: relative;
    top: 1px;
}

.input-cont button:focus {
    outline: none;
}

.container {
    width: 600px;
    height: 600px;
    background-color: transparent;
    margin: 10vh auto auto auto;
}

.input-cont {
    text-align: center;
}

.list-cont {
    margin: auto;
}

.list-item {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #f2feff;
    border-width: 1px;
    border-style: none;
    border-radius: 7px;
    margin-bottom: 10px;
    display: table;
    width: 500px;
    height: 35px;
}

.list-item button {
    float: right;
    margin: 8px 8px 0px 0px;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
    background-color: rgb(184, 50, 50);
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0);
    color: white;
    transition: ease 0.2s;
}

.list-item button:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75);
    background-color: rgb(173, 45, 45);
}

.list-item button:active {
    position: relative;
    top: 1px;
}

.list-item button:focus {
    outline: none;
}

li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}